body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
 background: linear-gradient(90deg, #000000, #c2bcbc);
  color: #39e817;
}

header {
  text-align: center;
  padding: 40px 20px;
  background: linear-gradient(90deg, #000000, #524e4e);
  border-bottom: 2px solid rgb(38, 255, 0);
}

header h1 {
  color: rgb(108, 219, 35);
  margin: 0;

}

header p {
  color: #00c414;
  margin-top: 10px;
}

nav {
  display: flex;
  justify-content: center;
  gap: 25px;
 background: linear-gradient(90deg, #000000, #b2afaf);
  padding: 15px;
}

nav a {
  color: rgb(41, 251, 22);
  text-decoration: none;
  font-weight: 1000;
  transition: 0.3s;
}

nav a:hover {
  color: rgb(38, 255, 0);
  transform: scale(1.1);
}

section {
  padding: 30px 20px;
  max-width: 1000px;
  margin: auto;
}

h2 {
  color: rgb(39, 227, 5);
  margin-bottom: 15px;
}

.card {
  background: #000000;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #64d889;
  background: linear-gradient(150deg, #000000, #2cac05);
  transition: 0.2s;
margin-top: 10px;

}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

footer {
  text-align: center;
  padding: 20px;
  background: #000000;
  border-top: 2px solid rgb(21, 223, 31);
  margin-top: 20px;
}
